*{
    margin: 0;
}
a{
    text-decoration: none;
}
body{
    width: 100%;
}
.homeContainer{
    font-family: 'Lora', verdana, sans-serif;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.4;
}