.btn {
    width: 400px;
    height: 60px;
    background-color: $primarycolor;
    color: white;
    border-radius: 30px;
    border: 3px solid $thirdcolor;
    position: relative;
    @include TabletteLand{
        width: 300px;
        height: 55px;
    }
    @include Tablette{
        width: 300px;
        height: 55px;
    }
    @include Mobile{
        width: 200px;
        height: 55px;
    }

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: -16%;
        right: -2%;
        width: 405px;
        height: 65px;
        background-color: transparent;
        border: 5px dashed $secondarycolor;
        border-radius: 30px;
        animation: pulse 1s linear infinite alternate-reverse;
        @include TabletteLand{
            display: none;
        }
        @include Tablette{
            display: none;
        }
        @include Mobile{
            display: none;
        }
    }

    &:hover {
        background-color: $thirdcolor;
    }
}