.carrousel {
    &__Container {
        display: flex;
        width: 78vw;
        height: 68vh;
        overflow: hidden;
        background-color: $page;
        margin: auto;
        margin-top: 0.5%;
        position: relative;
    }

    &__box {
        width: 78vw;
        height: 65vh;

        &--title {
            text-align: center;
            font-size: 2em;
        }

        &__book {
            display: flex;
            justify-content: center;
            width: 78vw;
            height: 60vh;
            gap: 20px;
            font-size: 1em;
            line-height: 125%;
            margin-top: 15px;

            &--text {
                margin-left: 35px;
            }

            &--langage {
                text-align: center;
                margin-top: 10px;
            }
        }

        &--img {
            width: 35vw;
            height: 60vh;
            margin-right: 40px;
        }
    }

    &__Right {
        position: absolute;
        left: 98%;
        top: 48%;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    &__Left{
        position: absolute;
        top: 47%;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}

.fa-caret-up {
    transform: rotate(270deg);
    font-size: 1.2em;
}

.fa-caret-down {
    transform: rotate(-90deg);
    font-size: 1.2em;
}