.carrousel {    
    &__box {
        @include TabletteLand{
            font-size: 14px;
        }
        &--title {
            text-align: center;
            font-size: 2em;
            text-decoration: underline;
            text-decoration-color: $primarycolor;
            margin-bottom: 3%;
            height: 10%;
        }

        &__book {
            display: flex;
            justify-content: center;
            padding-top: 2%;
            background-color: $page;
            padding-right: 2%;
            margin-top: 0.5%;
            position: relative;
            width: 50%;
            height: 66vh;
            font-size: 1em;
            line-height: 125%;
            border-right: 2px solid darken($page, 20%);
            border-top-right-radius: 15px;

            &--text {
                margin-left: 30px;
                text-align: justify;
            }

            &--langage {
                text-align: center;
                margin-top: 10px;
            }
        }

        &__book1{
            display: flex;
            justify-content: center;
            width: 50%;
            height: 66vh;
            padding-top: 2%;
            background-color: $page;
            margin-right: 1%;
            margin-top: 0.5%;
            position: relative;
            border-left: 2px solid darken($page, 20%);
            border-top-left-radius: 15px;
        }

        &--img {
            width: 35vw;
            height: 55vh;
            margin: auto;
            border: 3px solid $primarycolor;
            border-radius: 20px;
        }
    }

    &__Right {
        position: absolute;
        left: 97%;
        top: 48%;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    &__Left{
        position: absolute;
        top: 47%;
        background-color: transparent;
        border: none;
        cursor: pointer;
        z-index: 10;
    }
}

.fa-caret-up {
    transform: rotate(270deg);
    font-size: 1.2em;
}

.fa-caret-down {
    transform: rotate(-90deg);
    font-size: 1.2em;
}
