.page {
    &__box {
        display: flex;
        flex-wrap: wrap;
        width: 78vw;
        height: 68vh;
        background-color: $page;
        margin: auto;
        margin-top: 0.5%;
    }
    &__box1{
        width: 78vw;
        height: 68vh;
        background-color: $page;
        margin: auto;
        margin-top: 0.5%;
    }

    &__img {
        width: 25vw;
        height: 40vh;
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 30px;
        border: 3px solid $primarycolor;
        border-radius: 100px;
        object-fit: cover ;
        @include TabletteLand{
            width: 25vw;
            height: 35vh;
        }
    }
    &__img1{
        width: 200px;
        height: 150px;
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 30px;
        border: 3px solid $primarycolor;
        border-radius: 50px;
        object-fit: cover ;
        @include TabletteLand{
            width: 10vw;
            height: 15vh;
        }
    }

    &__content {
        width: 39vw;
        height: 40vh;
        margin-right: 40px;
        margin-top: 30px;
        line-height: 125%;
        @include TabletteLand{
            font-size: 14px;
        }
        &--title{
            text-align: center;
            text-decoration: underline;
            text-decoration-color: $primarycolor;
            font-size: 2em;
            margin-bottom: 20px;
            @include TabletteLand{
                font-size: 1.5em;
            }
        }
        &--text{
            text-align: justify;
            padding-bottom: 20px;
        }
        &--mail{
            margin-top : 10px;
        }
        
    }
    &__content1{
        display : flex;
        justify-content: space-evenly;
        &--title1{
            text-align: center;
            text-decoration: underline;
            text-decoration-color: $primarycolor;
            font-size: 2em;
            margin-bottom: 20px;
            @include TabletteLand{
                font-size: 1.5em;
            }
        }
        &__formation{
            align-self: center;
            padding-left: 15px;
            padding-right: 15px;
            &--title{
                text-decoration: underline;
                text-decoration-color: $primarycolor;
            }
        }
    }
    &__CV{
        display: flex;
        margin-left: 40px;
        margin-right: 40px;
        gap : 20px;
        @include TabletteLand{
            font-size: 14px;
        }
        &--profil{
            text-align: center;
            & p{
                margin-bottom: 20px;
            }
        }
        &--text{
            text-align: center;
            & p{
                margin-bottom: 20px;
            }
        }
    }
}