.slider-container {
  max-width: 525px;
  max-height: 300px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid $primarycolor;
  overflow: hidden;
  @include TabletteLand {
    max-width: 400px;
    max-height: 300px;
  }
  @include Tablette {
    max-width: 350px;
    max-height: 200px;
  }
  @include Mobile {
    max-width: 300px;
    max-height: 200px;
  }
  & .slider {
    position: relative;
    & img {
      max-width: 525px;
      height: 300px;
      object-fit: cover;
      @include Tablette {
        max-width: 350px;
        max-height: 200px;
      }
      @include TabletteLand {
        max-width: 400px;
        max-height: 300px;
      }
      @include Mobile {
        max-width: 300px;
        max-height: 200px;
      }
    }
    & p {
      position: absolute;
      bottom: 7%;
      left: 44%;
      font-weight: bold;
      background-color: $primarycolor;
      padding: 5px;
      border-radius: 5px;
      color: white;
      @include Tablette {
        left: 41%;
      }
      @include TabletteLand {
        left: 41%;
      }
      @include Mobile {
        left: 40%;
      }
    }
  }
}

.sliders {
  display: flex;
  animation: slider 15s infinite ease-in-out;
}
