.background{
    width: 1745px;
    height: 890px;
    margin: 0;
   background: url(../../Assets/Bibliothèque-corbeau-01.webp);
   background-size: 1745px 890px;
   background-repeat:no-repeat ;
}

.library{
    &__book{
        display: flex;
        justify-content: center;
        gap: 100px;
        
    }
}