.background{
    width: 100vw;
    height: 100vh;
    margin: 0;
   background: url(../../Assets/Bibliothèque-corbeau-01.webp);
   background-size: 100vw 100vh;
   background-repeat:no-repeat ;
   font-family: 'Shantell Sans', Verdana, sans-serif;
   font-weight: bold;
}

.library{
    &__book{
        display: flex;
        justify-content: center;
        gap: 50px;
    }
}
