//from book animation
@keyframes levitation {
  from {
    transform: translateY(50px);
  }

  to {
    transform: translateY(100px);
  }
}

//from title animation
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

//keyframe from the Slider component
@keyframes slider {
  0%,
  20% {
    transform: translateX(0);
  }

  25%,
  45% {
    transform: translateX(-100%);
  }

  50%,
  70% {
    transform: translateX(-200%);
  }

  75%,
  95% {
    transform: translateX(-300%);
  }

  100% {
    transform: translateX(-400%);
  }
}

//from stars in button into library page
@keyframes apparition {
  from {
    opacity: 0;
    top: 100%;
  }

  25% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0.5;
  }

  to {
    opacity: 0;
    top: 0%;
  }
}

//from light's candle in library page
@keyframes skale {
  from {
    transform: scale(0.8);
    opacity: 0.4;
  }

  to {
    transform: scale(1.2);
    opacity: 1;
  }
}

//from open de the book in library page
@keyframes bookOpen {
  from {
    transform: scale(0);
    opacity: 0;
  }

  80% {
    transform: scale(1.1);
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

// animation for hide key
@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

//animation for project
@keyframes derouler {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}

@keyframes deroulerimg {
  from {
    height: 0;
  }
  to {
    max-height: 100%;
  }
}
