// variables pour les livres de l'onglet bibliothèque
$largeWidthBook : 100px;
$smallWidthBook : 25px;
$heightBook : 150px;
$smallHeightBook : 25px;
$couverture : #7F5539;
$page : #FCF3EA;
$gold : #fad643;
$bougie : #FBBE4A;

//variables pour le reste du site
$primarycolor : #530E53;
$secondarycolor : #370037;
$thirdcolor : #BE5F7C;